html{
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #d3005a), color-stop(1, #d30026));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left, #d3005a 0%, #d30026 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right, #d3005a 0%, #d30b1c 100%);
    background-image: -ms-repeating-linear-gradient(top left, #d3005a 0%, #d30b1c 100%);
}

body{
    margin: 0 auto;
    padding: 2em 2em 10em;
    max-width: 800px;
    line-height: 1.5em;
    background-color: white;
}

.buttonStyle{
    background-color: orange;
    color: black;
    border: 2px solid #ffff00;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

h1{
    text-align: center;
}

.centerAlign{
    text-align: center;

}


.hide {
    display: none;
    margin: auto;
    text-align: left;
}
.show {
    display: block;
    margin: auto;
    text-align: left;
}


.rightAlign{
    text-align: right;

}

.leftAlign{
    text-align: right;

}