html{
    /*background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #d3005a), color-stop(1, #d30026));
    !* Android 2.3 *!
    background-image: -webkit-repeating-linear-gradient(top left, #d3005a 0%, #d30026 100%);
    !* IE10+ *!
    background-image: repeating-linear-gradient(to bottom right, #d3005a 0%, #d30b1c 100%);
    background-image: -ms-repeating-linear-gradient(top left, #d3005a 0%, #d30b1c 100%);*/

    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #4b5e62), color-stop(1, #4b5e62));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left, #4b5e62 0%, #4b5e62 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right, #4b5e62 0%, #4b5e62 100%);
    background-image: -ms-repeating-linear-gradient(top left, #4b5e62 0%, #4b5e62 100%);
}

body{
    margin: 0 auto;
    padding: 2em 2em 10em;
    max-width: 800px;
    line-height: 1.5em;
    background-color: white;
    border-style: solid;
    border-left: solid deepskyblue;
    border-bottom: solid deepskyblue;
    border-width: 15px;
}

.buttonStyle{ /*Button style*/
    font-family: EthRomainEthon;
    font-weight: bold;
    background-color: orange;
    color: black;
    border-top: solid black;
    border-right: solid black;
    border-left: solid deepskyblue;
    border-bottom: solid deepskyblue;
    border-width: 8px;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

@font-face { /*Importing a new font*/
    font-family: EthRomainEthon;
    src: url(EthRomainEthon.ttf);
}

.startMenuClass h1{
    font-size: 120px;
    font-family: EthRomainEthon;
    font-weight: bold;
    padding-bottom: 70px;
    text-align: center;
}

.startMenuClass h2{
    font-size: 100px;
    font-family: EthRomainEthon;
    padding-bottom: 10px;
    text-align: left;
}

.startMenuClass li{
    font-family: Calibri;
    font-size: 20px;
}

.startMenuClass ul{
    padding-bottom: 60px;
}


#timer{
    font-family: Calibri;
}


.centerAlign{
    text-align: center;

}

.hide {
    display: none;
    margin: auto;
    text-align: left;
}
.show {
    display: block;
    margin: auto;
    text-align: left;
}


.rightAlign{
    text-align: right;

}

.leftAlign{
    text-align: right;

}

.centerAlign #timer{
    text-align: right;
    padding-bottom: 20px;
}

.question {
    padding-top: 40px;
    font-family: Calibri;
    font-size: 20px;
}

.answers{
    font-family: "Calibri";
    font-weight: bold;
}

#results{
    font-size: 100px;
    font-family: EthRomainEthon;
    text-align: center;
    font-weight: bold;
}

#displayMarks{
    font-family: "Calibri";
    font-size: 60px;
    text-align: center;
}

.displayQuestions{
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
}

.displayAnswers{
    font-family: "Courier New";
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 18px;
}