html{
    background-image: url(background.jpg);  /*add a new background image*/
}

body{
    margin: 0 auto;
    padding: 2em 2em 10em;
    max-width: 800px;
    line-height: 1.5em;
    background-color: white;
    border-style: solid;
    border-left: solid deepskyblue;
    border-bottom: solid deepskyblue;
    border-width: 15px;
}

@font-face {
    font-family: EthRomainEthon; /*importing a new font file*/
    src: url(EthRomainEthon.ttf);
}

h1 {
    color: black;
    text-align: center;
    font-family: EthRomainEthon;
    font-size: 80px;
}

h2 {
    padding: 0.5em 0em 0.5em 0em;;
    color: black;
    text-align: left;
    font-family: EthRomainEthon;
    font-size: 50px;
}

ul{
    padding: 0em 1em 1em 4em;
    color: black;
    text-align: left;
    font-family: Calibri;
    font-size: 30px;
    font-weight: bold;
}

footer {
    padding: 5px;
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
}
