html{
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #d3005a), color-stop(1, #d30026));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left, #d3005a 0%, #d30026 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right, #d3005a 0%, #d30b1c 100%);
    background-image: -ms-repeating-linear-gradient(top left, #d3005a 0%, #d30b1c 100%);
}

body{
    margin: 0 auto;
    padding: 2em 2em 40em;
    max-width: 1000px;
    line-height: 1.5em;
    background-color: white;
}

@font-face {
    font-family: EthRomainEthon;
    src: url(EthRomainEthon.ttf);
}

h1 {
    font-size: 120px;
    font-family: EthRomainEthon;
}

.ourTeamClass{
    text-align: center;
}

.ourTeamClass p{
    font-family: EthRomainEthon;
    font-style: italic;
    font-weight: bold;
}

.members{
    display: inline-block;
    padding-right: 20px;
}

img {
    border-radius: 50%;
}
