html{
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #d3005a), color-stop(1, #d30026));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left, #d3005a 0%, #d30026 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right, #d3005a 0%, #d30b1c 100%);
    background-image: -ms-repeating-linear-gradient(top left, #d3005a 0%, #d30b1c 100%);
}

body{
    margin: 0 auto;
    padding: 2em 2em 10em;
    max-width: 900px;
    line-height: 1.5em;
    background-color: white;
    border-style: solid;
    border-left: solid deepskyblue;
    border-bottom: solid deepskyblue;
    border-width: 15px;
}

@font-face {
    font-family: EthRomainEthon;
    src: url(EthRomainEthon.ttf);
}

h1 {
    font-size: 120px;
    font-family: EthRomainEthon;
    padding-bottom: 110px;
}

.ourTeamClass{
    text-align: center;
}

.members p{
    font-family: EthRomainEthon;
    font-style: italic;
    font-weight: bold;
}

.members{
    display: inline-block;
    padding-right: 20px;
}

img {
    border-radius: 50%;
}

button {
    display: inline-block;
    border:0 none;
    border-radius: 50%;
    background-color: white;

}

.display{
    display: block;
    margin: auto;
    text-align: left;
}

.hidden{
    display: none;
    margin: auto;
    text-align: left;
}

#thiloshon h2{
    padding-left: 1em;
    font-family: Calibri;
    font-weight: bold;
}

#thiloshon h3{
    padding-left: 3em;
    font-family: Calibri;
    font-weight: bold;

}

#thiloshon p{
    padding-left:7em;
    font-family: Calibri;
    line-height: 70%;
    font-weight: bold;
}

#suwadith h2{
    padding-left: 1em;
    font-family: Calibri;
    font-weight: bold;
}

#suwadith h3{
    padding-left: 3em;
    font-family: Calibri;
    font-weight: bold;

}

#suwadith p{
    padding-left:7em;
    font-family: Calibri;
    line-height: 70%;
    font-weight: bold;
}